root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,prop}]
indent_style = space
indent_size = 2

[*.{js,jsx,mjs,cjs,ts,tsx,d.ts}]
indent_style = space
indent_size = 4

[*.{json,jsonc,html,css}]
indent_style = space
indent_size = 2

[*.{bat,cmd}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
